@model ECommerce.Models.Products

@{
    ViewData["Title"] = "Delete";
    Layout = "_Layout";
}

<!DOCTYPE html>
<html>
<head>
    <title>Details</title>
</head>
<body>
    <h1>TEST</h1>
    <h1>@Model.Name</h1>
    <h1>@Model.Protein</h1>
</body>
</html>