@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}

<!DOCTYPE html>
<html>
<head>
    <title>Ecommerce</title>
    <link rel="stylesheet" type="text/css" href="~/Styles/StyleSheet.css" />
</head>
<body>
</body>
</html>