<footer id="sticky-footer" class="py-4 bg-dark text-white-50" style="position: fixed; bottom: 0; width: 100%;">
    <div class="container text-center">
        <a asp-page="/dashboard/Index" class="btn btn-secondary btn-sm text-left" role="button" aria-disabled="true">Admin Dashboard</a>
    </div>
</footer>