@using Microsoft.AspNetCore.Identity;
@inject SignInManager<ECommerce.Models.AppUsers> SignInManager
@model ECommerce.Models.ViewModels.ProductsVM

@{
    Layout = "_Layout";
}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="~/Styles/All.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">LOGO</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="Home">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="Products">Products</a>
                    </li>
                </ul>
                <div id="search-box">
                    <form method="post">
                        <input type="text" asp-for="@Model.Term" />
                        <button id="search-button" type="submit">
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-search" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z" />
                                <path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z" />
                            </svg>
                        </button>
                    </form>
                </div>
            </div>
            <div class="register bg-light">
                @if (SignInManager.IsSignedIn(User))
                {
                    <span id="welcome-user">Welcome @User.Claims.First(x => x.Type == "Fullname").Value </span>
                    <form asp-page="/Account/Logout" method="post">
                        <button id="logout-button" class="nav-link" type="submit">Logout</button>
                    </form>
                }
                else
                {
                    <a asp-page="/Account/Login">Login</a>
                    <a asp-page="/Account/Register">Register</a>
                }
            </div>
        </nav>
    </header>
    <div>
        @RenderBody();
    </div>
</body>
</html>