@using Microsoft.AspNetCore.Identity;
@inject SignInManager<ECommerce.Models.AppUsers> SignInManager
@model ECommerce.Models.Interfaces.ISearchTerm

<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" type="text/css" href="~/Styles/Reset.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/css/bootstrap.min.css" integrity="sha384-VCmXjywReHh4PwowAiWNagnWcLhlEJLA5buUprzK8rxFgeH0kww/aWY76TfkUoSX" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="~/Styles/All.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">LOGO</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" asp-page="/Index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-page="/Products/Index">Products</a>
                    </li>
                </ul>
                <div id="search-box">
                    <form method="post">
                        <input type="text" asp-for="@Model.Term" />
                        <button asp-page="/Products/Index" id="search-button" type="submit">
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-search" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z" />
                                <path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z" />
                            </svg>
                        </button>
                    </form>
                </div>
            </div>
            <div class="register bg-light">
                @if (SignInManager.IsSignedIn(User))
                {
                    if (User.Claims.FirstOrDefault(x => x.Type == "Fullname") != null)
                    {
                        <span id="welcome-user">Welcome @User.Claims.First(x => x.Type == "Fullname").Value </span>
                    }
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <form asp-page="/Account/Logout" method="post">
                                <button id="logout-button" class="nav-link" type="submit">Logout</button>
                            </form>
                        </li>
                    </ul>
                }
                else
                {
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" asp-page="/Account/Login">Login</a>
                        </li>
                        <li class="nav-item">

                            <a class="nav-link" asp-page="/Account/Register">Sign Up</a>
                        </li>
                    </ul>
                }
            </div>
        </nav>
    </header>

    <div>
        @RenderBody()
    </div>
    <footer id="sticky-footer" class="py-4 bg-dark text-white-50" style="position: fixed; bottom: 0; width: 100%;">
        <div class="container text-center">
            <a asp-page="/dashboard/Index" class="btn btn-secondary btn-sm text-left" role="button" aria-disabled="true">Admin Dashboard</a>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/js/bootstrap.min.js" integrity="sha384-XEerZL0cuoUbHE4nZReLT7nx9gQrQreJekYhJD9WNWhH8nEW+0c5qq7aIo2Wl30J" crossorigin="anonymous"></script>
</body>
</html>