.row {
    text-align: center;
}

#search-box {
    text-align: right;
    margin-left: 1vw;
}

.error-message {
    color: red;
}

.register > * {
    display: inline-flex;
    margin: 2px;
}

#logout-button {
    color: inherit;
    font: inherit;
    border: none;
    background: none;
    outline: inherit;
}