#logo-prefix {
    color: #C15306;
}

.row {
    text-align: center;
}

.error-message {
    color: red;
}

.register > * {
    display: inline-flex;
    margin: 2px;
}

#bootstrap-override #update-field {
    width: 50px;
}

/*PRODUCTS PAGE*/
#bootstrap-override #shop-by-list button {
    width: 100%;
    color: #6A6A6A;
}

    #bootstrap-override #shop-by-list button:hover {
        color: black;
    }

#bootstrap-override .products img {
    height: 200px;
}

@media screen and (max-width: 600px) {
    #bootstrap-override .products img {
        height: 350px;
    }
}

#bootstrap-override #carousel img {
    height: 350px;
    width: 900px;
}

/*LOGIN | LOGOUT*/
#bootstrap-override form,
#bootstrap-override #logout-button,
#bootstrap-override #search-button {
    border: none;
    background-color: inherit;
}

/*SEARCH BAR*/
#bootstrap-override #search-button {
    opacity: .5;
    border: none;
}

    #bootstrap-override #search-button:hover {
        opacity: 1;
    }