body {
    background-image: url("https://ecom17.blob.core.windows.net/pictures/hero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: 20%;
}