@page
@model ECommerce.Pages.ProductsModel
@{
    ViewData["Title"] = "Products";
    Layout = "_Layout";
}

<!DOCTYPE html>
<html>
<head>
    <title>Ecommerce</title>
</head>
<body>
    <main>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">Name</th>
                    <th scope="col">Price</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                @{int count = 1; }
                @foreach (var item in Model.Products)
                {
                    <tr>
                        <td scope="row">@count</td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name);
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Price);
                        </td>
                        <td>
                            <a asp-action="Details" asp-route-id="@item.Name">Details</a>
                        </td>
                    </tr>
                    count++;
                }
            </tbody>
        </table>
    </main>
</body>
</html>